html, body {
  background-color: #EDEFF3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

a,
a:visited {
  color: rgb(66, 133, 244);
  text-decoration: none;
}

/* Header */

.header {
  background-color: #fff;
  padding: 15px 0;
  text-align: center;
}

/* Main */
.main, .about-header {
  background-color: #BF2626;
  color: #fff;
  text-align: center;
}

.main {
  padding: 30px 0 0 0;
}

.about-header {
  padding: 30px 0;
}

.main h1,
.about-header h1,
.main h2 {
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.main h1,
.about-header h1 {
  font-size: 687.5%;
}

.main h2 {
  font-size: 250%;
  margin-top: 10px;
}

.categories {
  border-top: 1px solid #fff;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 300;
  padding: 20px 0;
  text-align: left;
}

.categories .container,
.footer .container,
.about-content .container {
  padding: 0px 2.5% 0 2.5%;
}

.categories p {
  margin: 0;
}

.arrow-bottom {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  display: inline-block;
  height: 0;
  margin-left: 3px;
  width: 0;
}

/* Sites */

.sites {
  margin-top: 32px;
}

.sites {
  min-height: 100%;
  margin-bottom: -40px;
}

.sites:after {
  content: "";
  display: block;
}

.sites section {
  background-color: #fff;
  border-radius: 3px;
  margin: 0 2.5% 30px 2.5%;
}

.sites section header {
  margin: 0 18px;
}

.sites section header h3 {
  color: rbga(51, 51, 51);
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  padding: 21px 0;
}

.sites section .media img {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.sites section footer {
  color: rbga(51, 51, 51);
  font-size: 14px;
  font-weight: 300;
  padding: 14px 5%;
}

/* Card footer */

footer {
  display: flex;
}

footer .share,
footer .visit {
  flex: 0 0 50%;
}

footer .share i {
  margin-right: 10px;
  vertical-align: middle;
}

footer .visit i {
  margin-left: 10px;
  vertical-align: middle;
}

footer .visit,
footer .visit a,
footer .visit a:visited {
  color: #999;
  text-align: right;
  text-decoration: none;
}

/* Site footer */

.footer {
  background-color: #eee;
  border-top: 1px solid #d8d8d8
}

.footer,
.sites:after {
  height: 40px;
}

.footer ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.footer li {
  display: inline;
  font-size: 11px;
  margin-right: 10px;
}

.footer li a,
.footer li a:visited {
  text-decoration: none;
  color: #2196f3;
}

/* About */

.about-content {
  margin-top: 30px;
  margin-bottom: 50px;
}

.about-content h3 {
  font-size: 25px;
  margin: 50px 0 5px 0;
}

.about-content p,
.about-content ul {
  font-weight: 100;
  font-size: 18px;
}


/* Responsive */

@media (min-width: 766px) {
  .container {
    max-width: 1020px;
    margin: 0 auto;
  }

  .sites .row {
    display: flex;
    flex-wrap: wrap;
  }

  .sites .row .col {
    flex: 0 0 48%;
  }

  .categories .container,
  .footer .container,
  .about-content .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0 1%;
  }

  .sites section {
    margin: 0 1% 30px 1%;
  }

  .sites section header h3 {
    font-size: 46px;
  } 

  .sites section footer {
    font-size: 18px;
    padding: 21px 5%;
  }
}