---
layout: default
title: Home
permalink: /categories/entertainment/
---
<div class="projects row">
{% for post in site.categories.entertainment %}
  <div class="col-lg-6">
    <div class="card">
      <a href="/sites/{{ post.slug }}">
        <h3>{{ post.title }}</h3>
        {% if post.major == 0 %}
        <p class="version">Angular at <code>master</code></p>
        {% elsif post.major == 1 %}
        <p>AngularJS {{ post.version }}</p>
        {% else %}
        <p>Angular {{ post.version }}</p>
        {% endif %}
        <img class="lazy" src="/assets/images/site/placeholder.svg" data-src="/assets/images/projects/{{ post.slug }}/thumb.jpg" data-srcset="/assets/images/projects/{{ post.slug }}/thumb.jpg" alt="{{ post.title }}" width="100%">
      </a>
    </div>
  </div>
{% endfor %}
</div>