<div class="about-header">
  <div class="container">
    <h1>About</h1>
  </div>
</div>

<div class="about-content">
  <div class="container">
    <h3>What is this?</h3>
    <p>Made With Angular is a gallery of inspiring websites using AngularJS. It's maintained by <a href="https://github.com/lpolepeddi" target="_blank">Lalith Polepeddi</a> to demonstrate what's possible with Angular and to showcase how it's being used in the world.</p>

    <h3>How are websites selected?</h3>
    <p>Websites that are high profile and high quality examples of building with Angular are listed here.</p>

    <h3>Can I submit a site?</h3>
    <p>Made With Angular focuses on high profile sites that people can look to when deciding whether to Angular or when building their next Angular app. If you've seen a high-quality production app made with Angular, suggest it by:</p>
    <ul>
      <li><a href="https://twitter.com/intent/tweet?text=@madewithangular check out this Angular app - " target="_blank">Tweeting</a></li>
      <li><a href="https://github.com/madewithangular/madewithangular.github.io/issues" target="_blank">Opening an issue</a></li>
      <li><a href="https://github.com/madewithangular/madewithangular.github.io#submit-a-site" target="_blank">creating a pull request</a></li>
    </ul>
    
    <h3>How is this site made?</h3>
    <p>It's developed on <a href="https://github.com/madewithangular/madewithangular.github.io" target="_blank">GitHub</a> and is hosted on <a href="https://pages.github.com/">GitHub Pages</a>. Oh, and it's made with <a href="https://angularjs.org/" target="_blank">Angular</a>.</p>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/about#submissions">Suggest a site</a></li>
      <li><a href="https://twitter.com/madewithangular" target="_blank">Twitter</a></li>
    </ul>
  </div>
</div>