<div class="main">
  <div class="container">
    <h1>
      <ng-pluralize count="all_projects.length" when="{'0': '{} sites', '1': '{} site', 'other': '{} sites'}"></ng-pluralize>
    </h1>
    <h2 ng-hide="category">made with Angular</h2>
    <h2 ng-show="category">
      <span ng-if="category.indexOf('google') > -1">by</span>
      <span ng-if="category.indexOf('google') === -1">for</span>
      {{ categoryName }} that 
      <ng-pluralize count="all_projects.length" when="{'0': 'use', '1': 'uses', 'other': 'use'}"></ng-pluralize> 
      Angular
    </h2>
  </div>

  <div class="categories">
    <div class="container">
      <ul>
        <li id="categories-menu">
          <span ng-hide="category">Categories</span> <span ng-show="category">{{ categoryName }}</span> <span class="arrow-bottom"></span> <span ng-show="category"><a href="#/" class="clear-category">Clear</a></span>
          <ul id="categories-dropdown">
            <li ng-repeat="option in availableCategories">
              <a href="#/categories/{{option.tag}}">{{option.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="sites">
  <div class="container row" infinite-scroll="nextPage()" infinite-scroll-distance="1">
    <section class="col" ng-repeat="project in projects | orderBy:'-submissionDate'">
      <article>
        <header>
          <h3>{{ project.name }}</h3>
        </header>
        <div class="media">
          <img ng-src="{{ project.thumb }}" alt="{{ project.name }} is made with Angular" width="100%" />
        </div>
      </article>
      <footer>
        <div class="share">
          <a href="https://twitter.com/share?url={{ project.url }}&text={{ project.name }} is made with Angular, via @madewithangular&hashtags=Angular" target="_blank">
            <i class="material-icons">share</i>
            <span>Share this site</span>
          </a>
        </div>
        <div class="visit">
          <a href="{{ project.url }}" target=_"blank">
            <span>Visit</span>
            <i class="material-icons">arrow_forward</i>
          </a>
        </div>
      </footer>
    </section>
  </div>
</div>


<div class="footer">
  <div class="container">
    <ul>
      <li><a href="#/about">About</a></li>
      <li><a href="#/about#submissions">Suggest a site</a></li>
      <li><a href="https://twitter.com/madewithangular" target="_blank">Twitter</a></li>
    </ul>
  </div>
</div>

<script> $('#categories-menu').click( function(event){event.stopPropagation(); $('#categories-dropdown').toggle(); }); $(document).click( function(){$('#categories-dropdown').hide(); }); </script>