<div class="container">
  <div class="category" ng-repeat="(categoryKey, categoryValue) in allCategories">
    <div ng-if="categoryValue.sites.length > 0">
      <div class="heading">
        <h2 class="title"><a href="#/categories/{{ categoryKey }}">{{ categoryValue.name }}</a></h2>
        <div ng-if="categoryValue.sites.length > 4">
          <p class="more"><a href="#/categories/{{ categoryKey }}">See all</a></p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col" ng-repeat="site in categoryValue.featuredSites">
          <div class="card">
            <a href="#/sites/{{ site.slug }}">
              <h3>{{ site.name }}</h3>
              <img src="https://s3.amazonaws.com/madewithangular.com{{ site.thumb }}.jpg" width="100%">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>