<div class="container">
  <div class="site">
    <a href="{{ site.url }}" target="_blank">
      <h2 class="title">{{ site.name }}</h2>
      <img src="http://s3.amazonaws.com/madewithangular.com{{ site.thumb }}.png" width="100%">
      <div class="visit"></div>
    </a>
  </div>
  <div class="more">
    <h3 class="title">More sites made with Angular</h3>
    <div class="row">
      <div class="col" ng-repeat="site in moreSites">
        <div class="card">
          <a href="#/sites/{{ site.slug }}">
            <h3>{{ site.name }}</h3>
            <img src="http://s3.amazonaws.com/madewithangular.com{{ site.thumb }}.png" width="100%">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>