html, body {
  margin: 20px 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.card a, .card a:visited,
.category .heading a:visited,
.category .heading .more a,
.site a {
  text-decoration: none;
  color: #444;
}

.category .heading a {
  color: #444;
}

.container-fluid {
  padding: 0 40px;
}

/*Header*/
.header a,
.header a:hover,
.header a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.header a .m {
  font-weight: 700;
  color: #606060
}

.header a .w {
  font-weight: 400;
  color: #A7A7A7;
}

.header a .a {
  font-weight: 700;
  color: #444;
}

/*Sidebar*/
.bd-sidebar {
  display: none;
}

h3.navtitle {
  font-size: 17px;
  font-weight: 500;
  margin: 40px 0 10px 0;
}

ul.navlist {
  list-style: none;
  margin: 40px 0 40px 0;
  padding-left: 0;
}

h3.navtitle + ul.navlist {
  margin-top: 0;
}

.navlist li {
  font-size: 13px;
  margin: 5px 0;
}

.navlist a,
.navlist a:visited {
  color: #444;
}

.main {
  margin-bottom: 100px;
}

/* Categories */

.category .heading {
  color: #444;
  line-height: 30px;
  margin: 4px;
  vertical-align: middle;
}

.category .title {
  display: inline-block;
  /*float: left;*/
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

.projects .col-lg-6 {
  margin-bottom: 100px;
}

/* Card */

.card {
  background-color: #fff;
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);*/
  color: #444;
  margin: 4px;
  border: none;
}

.card h3 {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 5px 0; 
}

.card p {
  color: #929292;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  padding: 0 10px 10px 0; 
}

/* Site */

.site {
  color: #444;
  margin: 4px;
  position: relative;
}

.site .title,
.more .title {
  font-weight: 400;
  margin: 0 0 10px 0;
  padding: 0;
}

.site .title {
  font-size: 20px;
}

.site .version {
  color: #929292;
}

.more .title {
  margin-top: 40px;
  font-size: 17px;
}

/*Ads*/
.carbon-wrap {
  display: block;
  padding: 10px;
}

.carbon-wrap a {
  display: block;
}

.carbon-img {
  margin-bottom: 10px;
  /*text-align: center;*/
}

.carbon-text {
  color: #06c;
  font-size: 80%;
  line-height: 130%;
  max-width: 150px;
  /*text-align: center;*/
}

.carbon-poweredby {
  color: #6e6e6e;
  font-size: 65%;
  font-style: italic;
  /*text-align: center;*/
  display: block;
  margin: 0 10px;
}

/*About*/
.about h1 {
  font-size: 20px;
  font-weight: 400;
}

.about h3 {
  margin-top: 30px  ;
  color: #929292;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width:992px) {
  .bd-sidebar {
    display: block;
    position: sticky;
    top: 20px;
    z-index: 1000;
    height: calc(100vh - 20px);
    overflow-y: scroll;
  }
}

/*Pagination*/
.pagination {
  display: block;
  font-size: 13px;
  text-align: center;
}

.previous {
  margin-right: 20px;
}

.next {
  margin-left: 20px;
}