{% extends 'layout.html' %}

{% block title %}About | {% endblock %}

{% block meta %}
    <meta property="og:url" content="https://www.madewithangular.com">
    <meta property="og:title" content="Made with Angular">
    <meta property="og:image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">
    <meta property="og:site_name" content="Made with Angular">
    <meta property="og:description" content="A showcase of web apps built with Angular.">

    <meta itemprop="name" content="Made with Angular">
    <meta itemprop="description" content="A showcase of web apps built with Angular.">
    <meta itemprop="image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Made with Angular">
    <meta name="twitter:description" content="A showcase of web apps built with Angular.">
    <meta name="twitter:image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">

    <meta name="description" content="A showcase of web apps built with Angular.">
    <meta name="keywords" content="Made with Angular">
    <link rel="canonical" href="https://www.madewithangular.com">
{% endblock %}

{% block content %}
<div class="container">
  <div class="about">
  <h1>About</h1>
  <h3>What is this?</h3>
  <p>Made With Angular is a gallery of inspiring websites using AngularJS. It's maintained by <a href="https://github.com/lpolepeddi" target="_blank">Lalith Polepeddi</a> to demonstrate what's possible with Angular and to showcase how it's being used in the world.</p>
  <h3>How are websites selected?</h3>
  <p>Websites that are high profile and high quality examples of building with Angular are listed here.</p>
  <h3 id="submit">Can I submit a site?</h3>
  <p>Made With Angular focuses on high profile sites that people can look to when deciding whether to use Angular or when building their next Angular app. If you've seen a high-quality production app made with Angular, suggest it by:</p>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text=@madewithangular%20check%20out%20this%20@AngularJS%20app%20-" target="_blank">Tweeting</a>
    </li>
    <li>
      <a href="https://github.com/madewithangular/madewithangular.github.io/issues" target="_blank">Opening an issue</a>
    </li>
    <li>
      <a href="https://github.com/madewithangular/madewithangular.github.io#submit-a-site" target="_blank">Creating a pull request</a>
    </li>
  </ul>
  </div>
</div>
{% endblock %}