{% extends 'layout.html' %}

{% block title %}{{ category.name }} | {% endblock %}

{% block content %}
<div class="category">
  <div class="heading">
    <h2 class="title">{{ category.name }}</h2>
  </div>
  <div class="row">
    {% for site in category.sites %}
    <div class="col-lg-4">
      <div class="card">
        <a href="/sites/{{ site.slug }}">
          <h3>{{ site.name }}</h3>
          <p>Angular {{ site.version }}</p>
          <img src="https://s3.amazonaws.com/madewithangular.com{{ site.thumb }}.jpg" alt="{{ site.name }}" width="100%">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}