{% extends 'layout.html' %}

{% block content %}
<div class="container">
  {% for slug, item in categories.iteritems() %}
  <div class="category">
    {% if item.sites  %}
    <div class="heading">
      <h2 class="title"><a href="/categories/{{ slug }}">{{ item.name }}</a></h2>
      {% if item.sites | length > 4 %}
      <p class="more"><a href="/categories/{{ slug }}">See all</a></p>
      {% endif %}
    </div>
    {% endif %}
    <div class="clearfix"></div>
    <div class="row">
      {% if item.sites | length > 4 %}
      {% for i in range(4) %}
      <div class="col">
        <div class="card">
          <a href="/sites/{{ item.sites[i].slug }}">
            <h3>{{ item.sites[i].name }}</h3>
            <img src="https://s3.amazonaws.com/madewithangular.com{{ item.sites[i].thumb }}.jpg" alt="{{ item.sites[i].name }}" width="100%">
          </a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% for site in item.sites %}
      <div class="col">
        <div class="card">
          <a href="/sites/{{ site.slug }}">
            <h3>{{ site.name }}</h3>
            <img src="https://s3.amazonaws.com/madewithangular.com{{ site.thumb }}.jpg" width="100%">
          </a>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}