{% extends 'layout.html' %}

{% block meta %}
    <meta property="og:url" content="https://www.madewithangular.com">
    <meta property="og:title" content="Made with Angular">
    <meta property="og:image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">
    <meta property="og:site_name" content="Made with Angular">
    <meta property="og:description" content="A showcase of web apps built with Angular.">

    <meta itemprop="name" content="Made with Angular">
    <meta itemprop="description" content="A showcase of web apps built with Angular.">
    <meta itemprop="image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Made with Angular">
    <meta name="twitter:description" content="A showcase of web apps built with Angular.">
    <meta name="twitter:image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">

    <meta name="description" content="A showcase of web apps built with Angular.">
    <meta name="keywords" content="Made with Angular">
    <link rel="canonical" href="https://www.madewithangular.com">
{% endblock %}

{% block content %}

  <div class="projects row">
  {% for site in sites %}
    <div class="col-lg-6">
      <div class="card">
        <a href="{{ site.url }}" target="_blank">
          <h3>{{ site.name }}</h3>
          {% if site.version.major == '0' %}
          <p class="version">Angular at <code>master</code></p>
          {% elif site.version.major == '1' %}
          <p>AngularJS {{ site.version.version }}</p>
          {% else %}
          <p>Angular {{ site.version.version }}</p>
          {% endif %}
          <img src="https://s3.amazonaws.com/madewithangular.com{{ site.thumb }}.jpg" alt="{{ site.name }}" width="100%">
        </a>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}