<!doctype html>
<html>
  <head>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='105797845-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->

    <title>{% block title %}{% endblock %}Made with Angular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block meta %}
    {% endblock %}
    
    <link rel="shortcut icon" href="https://s3.amazonaws.com/madewithangular.com/img/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65577632-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 bd-sidebar">
          <div class="header">
            <a href="{{ url_for('index') }}"><span class="m">made</span> <span class="w">with</span> <span class="a">angular</span></a>
          </div>

          <ul class="navlist">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="/about#submit">Suggest a site</a></li>
            <li><a href="https://www.facebook.com/made.w.angular" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/madewithangular" target="_blank">Twitter</a></li>
          </ul>

          <div class="ad card">
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=madewithangularcom" id="_carbonads_js"></script>
          </div>

          <h3 class="navtitle">Version</h3>
          <ul class="navlist">
            <li><a href="{{ url_for('categories', category='angularjs-1') }}">AngularJS 1.x</a></li>
            <li><a href="{{ url_for('categories', category='angular-2') }}">Angular 2.x</a></li>
            <li><a href="{{ url_for('categories', category='angular-4') }}">Angular 4.x</a></li>
            <li><a href="{{ url_for('categories', category='angular-5') }}">Angular 5.x</a></li>
          </ul>

          <h3 class="navtitle">Category</h3>
          <ul class="navlist">
            <li><a href="{{ url_for('categories', category='google') }}">By Google</a></li>
            <li><a href="{{ url_for('categories', category='microsoft') }}">By Microsoft</a></li>
            <li><a href="{{ url_for('categories', category='fortune-500') }}">Fortune 500</a></li>
            <li><a href="{{ url_for('categories', category='communications') }}">Communication</a></li>
            <li><a href="{{ url_for('categories', category='developer-tools') }}">Developer Tools</a></li>
            <li><a href="{{ url_for('categories', category='education') }}">Education</a></li>
            <li><a href="{{ url_for('categories', category='entertainment') }}">Entertainment</a></li>
            <li><a href="{{ url_for('categories', category='finance') }}">Finance</a></li>
            <li><a href="{{ url_for('categories', category='food-drink') }}">Food &amp; Drink</a></li>
            <li><a href="{{ url_for('categories', category='health-fitness') }}">Health &amp; Fitness</a></li>
            <li><a href="{{ url_for('categories', category='lifestyle') }}">Lifestyle</a></li>
            <li><a href="{{ url_for('categories', category='medical') }}">Medical</a></li>
            <li><a href="{{ url_for('categories', category='sports') }}">Sports</a></li>
            <li><a href="{{ url_for('categories', category='transportation') }}">Transportation</a></li>
            <li><a href="{{ url_for('categories', category='travel') }}">Travel</a></li>
            <li><a href="{{ url_for('categories', category='community') }}">From the community</a></li>
          </ul>

          
        </div>
        <div class="col-lg-9 main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html>