{% extends 'layout.html' %}

{% block title %}Stats | {% endblock %}

{% block meta %}
    <meta property="og:url" content="https://www.madewithangular.com">
    <meta property="og:title" content="Made with Angular">
    <meta property="og:image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">
    <meta property="og:site_name" content="Made with Angular">
    <meta property="og:description" content="A showcase of web apps built with Angular.">

    <meta itemprop="name" content="Made with Angular">
    <meta itemprop="description" content="A showcase of web apps built with Angular.">
    <meta itemprop="image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Made with Angular">
    <meta name="twitter:description" content="A showcase of web apps built with Angular.">
    <meta name="twitter:image" content="https://s3.amazonaws.com/madewithangular.com/img/194.png">

    <meta name="description" content="A showcase of web apps built with Angular.">
    <meta name="keywords" content="Made with Angular">
    <link rel="canonical" href="https://www.madewithangular.com">
{% endblock %}

{% block content %}
<div class="container">
  <div class="stats">
    <canvas id="chart"></canvas>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
  var ctx = document.getElementById('chart').getContext('2d');
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels | safe }},
      datasets: [{
        backgroundColor: 'red',
        data: {{ data }},
      }]
    },
    options: {}
  });
</script>
{% endblock %}