<div class="bg-white mt-8 mb-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    
    <div class="mb-8 mx-auto max-w-2xl lg:mx-0 ">
      <div class="relative">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <input
          id="search"
          name="search"
          type="search" 
          placeholder="Search by site name or category" 
          (input)="onSearch($event)" 
          class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-900/10 placeholder:text-gray-400 focus:outline-none focus-visible:ring-gray-600 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6 w-full lg:w-3/4"
        />
      </div>
    </div>

    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <ng-container *ngIf="filteredSites.length === 0">
        <p class="text-sm leading-6 text-gray-600">No sites found.</p>
      </ng-container>
      <ng-container *ngFor="let site of filteredSites; let i = index">
        <ng-container *ngIf="i !== 2; else adTemplate">
          <app-site [site]="site"></app-site>
        </ng-container>

        <ng-template #adTemplate>
          <app-ad></app-ad>
          <app-site [site]="site"></app-site>
        </ng-template>
      </ng-container>
    </div>

  </div>
</div>