<!doctype html>
<html>
  <head>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='105797845-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->

    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/main.css">
    {% feed_meta %}
    {% seo %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65577632-1', 'auto');
      ga('send', 'pageview');
    </script>  

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name" : "Made with Angular",
      "url": "https://www.madewithangular.com/",
      "foundingDate": "2015-07-24",
      "sameAs" : [ 
        "https://twitter.com/madewithangular",
        "https://www.facebook.com/made.w.angular"
      ],
      "logo": "https://s3.amazonaws.com/madewithangular.com/img/500.png"
    }
    </script>      
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 bd-sidebar">
          <div class="header">
            <a href="/"><span class="m">made</span> <span class="w">with</span> <span class="a">angular</span></a>
          </div>

          <ul class="navlist">
            <li><a href="/about/">About</a></li>
            <li><a href="/about/#submit">Suggest a site</a></li>
            <li><a href="https://www.facebook.com/made.w.angular" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/madewithangular" target="_blank">Twitter</a></li>
          </ul>

          <div class="ad card">
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=madewithangularcom" id="_carbonads_js"></script>
          </div>

          <h3 class="navtitle">Version</h3>
          <ul class="navlist">
            <li><a href="/categories/angularjs/">AngularJS</a></li>
            <li><a href="/categories/angular/">Angular</a></li>
          </ul>

          <h3 class="navtitle">Category</h3>
          <ul class="navlist">
            <li><a href="/categories/google/">By Google</a></li>
            <li><a href="/categories/microsoft/">By Microsoft</a></li>
            <li><a href="/categories/fortune-500/">Fortune 500</a></li>
            <li><a href="/categories/communication/">Communication</a></li>
            <li><a href="/categories/developer-tools/">Developer Tools</a></li>
            <li><a href="/categories/education/">Education</a></li>
            <li><a href="/categories/entertainment/">Entertainment</a></li>
            <li><a href="/categories/finance/">Finance</a></li>
            <li><a href="/categories/food-drink/">Food &amp; Drink</a></li>
            <li><a href="/categories/health-fitness/">Health &amp; Fitness</a></li>
            <li><a href="/categories/lifestyle/">Lifestyle</a></li>
            <li><a href="/categories/medical/">Medical</a></li>
            <li><a href="/categories/sports/">Sports</a></li>
            <li><a href="/categories/transportation/">Transportation</a></li>
            <li><a href="/categories/travel/">Travel</a></li>
            <li><a href="/categories/community/">From the community</a></li>
          </ul>          

        </div>
        <div class="col-lg-9 main">
          {{ content }}
        </div>
      </div>
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: 'ca-pub-9198812320521709',
        enable_page_level_ads: true,
      });
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
      var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

      if ("IntersectionObserver" in window) {
        let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
          entries.forEach(function(entry) {
            if (entry.isIntersecting) {
              let lazyImage = entry.target;
              lazyImage.src = lazyImage.dataset.src;
              lazyImage.srcset = lazyImage.dataset.srcset;
              lazyImage.classList.remove("lazy");
              lazyImageObserver.unobserve(lazyImage);
            }
          });
        });

        lazyImages.forEach(function(lazyImage) {
          lazyImageObserver.observe(lazyImage);
        });
      } else {
        // Possibly fall back to a more compatible method here
      }
    }); 
    </script>    

  </body>
</html>